@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none; /* Removes the underline */
  cursor: pointer; /* Optional: Ensures it still looks clickable */
  color: var(--white);
}

a:hover {
  color: var(--primary-red) !important;
  text-decoration: underline;
}
