.card_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}
.card_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  background-color: var(--grey-900);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border-bottom: 8px solid var(--red-2);
}
.subheader_line {
  height: 3px;
  width: 60%;
  background-color: var(--red-2);
}
