/** NAVBAR */

.navbar {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 15px;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.logo {
  width: 200px;
  cursor: pointer;
}
.socials {
  width: 200px;
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 800px) {
  .logo {
    margin-left: 30px;
  }
  .socials {
    width: min-content;
  }
}
/** FOOTER */

.a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 10px;
}

.footer {
  font-size: 14px;
  color: var(--gray-800);
  background-color: var(--white);
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}
